@font-face{
    font-family: 'nunito-400';
    src:url("../fonts/Nunito-Regular.ttf");
}
@font-face{
    font-family: 'nunito-500';
    src:url("../fonts/Nunito-Medium.ttf");
}
@font-face{
    font-family: 'nunito-600';
    src:url("../fonts/Nunito-SemiBold.ttf");
}
@font-face{
    font-family: 'nunito-700';
    src:url("../fonts/Nunito-Bold.ttf");
}
@font-face{
    font-family: 'nunito-800';
    src:url("../fonts/Nunito-ExtraBold.ttf");
}